.d-block {
  height:360px;
}

.shop {
  height:30px;
}

.search{
	width: 300px;
}

.card-img-top {
  max-width: 200px;
  width:100%;
}

.shop-img {
  max-width: 100px;
  width:100%;
}

.card-img-top {
  margin:0 auto;
}

.cards_pad  {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}