<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">

    <title>HABITICA</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="style" media="all">
    <script src="https://kit.fontawesome.com/fee3aa343d.js" crossorigin="anonymous"></script>

  </head>


  <body>

    <nav class="navbar navbar-expand-md navbar-dark justify-content-center  mb-0" style="background-color: #432874;">
      <a class="navbar-brand" href="habitica"><img class="banner" src="avatar/whiteBanner.png" alt="Card image cap" style="height:35px;"></a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>

    </nav>

    <div class="top_body" >
      <div class="card mb-0" style="max-width: 750px;" data-toggle="modal" data-target="#user_modal" onclick="preloadUserModal()">
        <div class="row no-gutters" style="background-color: #edecee;">
          <div class="col-md-4 avatar" style="width: auto; height: 100%">
            <img id="avatarImg" src="" class="card-img" alt="...">
          </div>
          <div class="col" style="background-color: #edecee;">
            <div class="card-body" >
              <h5 class="card-title pb-0" id="avatarName">Avatar Name</h5>
              <p class="card-text "><span class="text-muted" id="avatarLevel">Level 37</span></p>

              <ul class="list-group list-group-horizontal pb-1">
                <li class="list-group-item avatar_icon d-flex justify-content-center align-items-center p-2">
                  <img class="card-img-top" src="object/coin.png" alt="Card image cap">
                </li>
                <li class="list-group-item avatar_progress d-flex align-items-center py-2">
                    <span class="m-0 p-0 current_coins" id="avatarCoins">342876423</span>
                    <span class="m-0 p-0 current_coins">&nbsp;&nbsp;COINS</span>
                </li> 
              </ul>

              <ul class="list-group list-group-horizontal pb-1">
                <li class="list-group-item avatar_icon d-flex justify-content-center align-items-center p-2">
                  <img class="card-img-top" src="object/heart.png" alt="Card image cap">
                </li>
                <li class="list-group-item avatar_progress d-flex justify-content-between align-items-center">
                  <div class="progress" style="width: 100%;">
                    <div class="progress-bar " role="progressbar" style="width: 0%;" id="avatarHealthBar">HEALTH</div>
                  </div>
                  <p class="m-0 p-0 pl-2" id="avatarHealthIndicator">00/100</p>
                </li> 
              </ul>

              <ul class="list-group list-group-horizontal ">
                <li class="list-group-item avatar_icon d-flex justify-content-center align-items-center p-2 ">
                  <img class="card-img-top" src="object/experience.png" alt="Card image cap">
                </li>
                <li class="list-group-item avatar_progress d-flex justify-content-between align-items-center">
                  <div class="progress" style="width: 100%;">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" id="avatarExpBar">EXPERIENCE</div>
                  </div>
                  <p class="m-0 p-0 pl-2" id="avatarExpIndicator">87/100</p>
                </li> 
              </ul>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row justify-content-center mt-3 mb-0" style="height:40px;">
        <div class="form-group col-md-3 tag_search">
          <input class="form-control " type="text" placeholder="Search.." style="height: inherit;">        
        </div>
        <button type="button" class="btn btn-warning my-0 py-0" style="height: inherit;">
          <i class="fa fa-filter" aria-hidden="true"></i> </button>    
    </div>

    </div>
    
    <div class="card-deck mx-2 cards_pad cards_body mt-3">

      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-0" id="mainList">
        <!-- HABITS-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-header">
              HABITS
            </div>
            <div class="card-body" >
              <input class="form-control mb-4" type="text" placeholder="Add a Habit" id="textboxHabit" style="background-color: #e1dfe2">
              <ul class="list-group dailies_list " id="habitList" style="width: 100%">
                
                
              </ul>
            </div>
          </div>
        </div>

        <!-- DAILIES-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link tab_filter active" href="#">DAILIES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" href="#">ACTIVE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" href="#">NOT ACTIVE</a>
                </li>
              </ul>
            </div>
            <div class="card-body" >
              <input class="form-control mb-4" id="textboxDaily" type="text" placeholder="Add a Daily" style="background-color: #e1dfe2">
              <ul class="list-group dailies_list " id="dailyList" style="width: 100%">
              </ul>
            </div>
          </div>
        </div>

        <!-- TO DO'S-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link tab_filter active" href="#">TO DO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" href="#">ACTIVE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" href="#">COMPLETE</a>
                </li>
              </ul>
            </div>
            <div class="card-body" >
              <input class="form-control mb-4" type="text" placeholder="Add a To Do" style="background-color: #e1dfe2">
              <ul class="list-group dailies_list " style="width: 100%">
                <li style="list-style-type:none;" class=" mb-1" >
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item check_list d-flex justify-content-between align-items-center p-2 dayBtn_list good">
                      <a class="btn dayBnt btn-lg good" role="button" onclick="goToCart()"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-group-item text_list d-flex justify-content-between align-items-center" data-toggle="modal" data-target="#todo_modal">
                      <ul class="list-group">
                        <li style="list-style-type:none;">
                          <p>TO DO ON TIME</p>
                        </li>
                        <li style="list-style-type:none;">
                            <span class="badge badge-info badge-pill mr-2">
                              <i class="fa fa-calendar-o" aria-hidden="true"></i> Due in 7 days</span>
                        </li> 
                      </ul>
                    </li> 
                  </ul>
                </li>
                <li style="list-style-type:none;" class=" mb-1" >
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item check_list d-flex justify-content-between align-items-center p-2 dayBtn_list bad">
                      <a class="btn dayBnt btn-lg bad" role="button" onclick="goToCart()"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-group-item text_list d-flex justify-content-between align-items-center" data-toggle="modal" data-target="#todo_modal">
                      <ul class="list-group">
                        <li style="list-style-type:none;">
                          <p>TO DO OVERDUE</p>
                        </li>
                        <li style="list-style-type:none;">
                            <span class="badge badge-danger badge-pill mr-2">
                              <i class="fa fa-calendar-o" aria-hidden="true"></i> Due 1 month ago</span>
                        </li> 
                      </ul>
                    </li> 
                  </ul>
                </li>
                <li style="list-style-type:none;" class=" mb-1" >
                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item check_list d-flex justify-content-between align-items-center p-2 dayBtn_list done">
                      <a class="btn dayBnt btn-lg done" role="button" onclick="goToCart()"><i class="fa fa-check" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-group-item text_list d-flex justify-content-between align-items-center" data-toggle="modal" data-target="#todo_modal">
                      <ul class="list-group">
                        <li style="list-style-type:none;">
                          <p>TO DO DONE</p>
                        </li>
                        <li style="list-style-type:none;">
                            <span class="badge badge-secondary badge-pill mr-2">
                              <i class="fa fa-calendar-o" aria-hidden="true"></i> Done</span>
                        </li> 
                      </ul>
                    </li> 
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- REWARDS-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link tab_filter active" onclick="updateRewardList()" id="allRewardsTab">REWARDS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" onclick="updateRewardListByType('life')" id="lifeRewardsTab">+ HEALTH</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link tab_filter" onclick="updateRewardListByType('exp')" id="expRewardsTab">+ EXP</a>
                </li>
              </ul>
            </div>
            <div class="card-body" >
              <div class="card-deck">
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 mx-0" id="rewardList">
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Modal HABITS -->
    <div class="modal fade" id="habit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #ffbe5d">
            <h4 class="modal-title text-left w-100 font-weight-bold" style="color: #794b00;">Edit Habit</h4>
            <button type="button" class="btn btn-link" data-dismiss="modal" style="color: black !important;" >CANCEL</button>
            <button type="submit" class="btn btn-light " data-dismiss="modal" onclick="editHabit()" >SAVE</button>
          </div>
          <div class="modal-body mx-3">
            <form>
              <span class="d-none" id="HabitId"> </span>
              <label class="m-0" data-error="wrong" data-success="right" for="titleHabitModal">Title</label>
              <input type="text" class="form-control mb-2" id="titleHabitModal" required>
              <label class="m-0"  data-error="wrong" data-success="right" for="dificultyHabitModal">Difficulty</label>
              <select class="form-control mb-2" id="dificultyHabitModal">
                    <option value="trivial">Trivial</option>
                    <option value="easy">Easy</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="hard">Hard</option>
              </select>
              <label class="m-0 " data-error="wrong" data-success="right" for="TagHabit" >Tag </label>
              <div class="mb-2 d-flex justify-content-between align-items-center px-4" id="TagHabit">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="studyHabitCheckboxModal" value="option1" onclick="onlyOne(this.id,'Habit')">
                  <label class="form-check-label" for="studyHabitCheckboxModal">Study</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="workHabitCheckboxModal" value="option2" checked onclick="onlyOne(this.id,'Habit')">
                  <label class="form-check-label" for="workHabitCheckboxModal">Work</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="healthHabitCheckboxModal" value="option3" onclick="onlyOne(this.id,'Habit')" >
                  <label class="form-check-label" for="healthHabitCheckboxModal" >Health</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="personalHabitCheckboxModal" value="option4" onclick="onlyOne(this.id,'Habit')">
                  <label class="form-check-label" for="personalHabitCheckboxModal">Personal</label>
                </div>
              </div>              
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-between align-items-center px-4">
            <a class = "px-4" data-dismiss="modal" data-toggle="modal" id="eliminateHabit" onclick="habitDelete()" style="color:red !important;">
              <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Eliminate Habit</a>
            <a class = "px-4" data-dismiss="modal" data-toggle="modal" id="eliminateHabit" onclick="habitRestart()" style="color:green !important;">
              <i class="fa fa-magic" aria-hidden="true"></i>&nbsp;Restart Habit</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal TO DO -->
    <div class="modal fade" id="todo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #ffbe5d">
            <h4 class="modal-title text-left w-100 font-weight-bold" style="color: #794b00;">Edit To Do</h4>
            <button type="button" class="btn btn-link" data-dismiss="modal" style="color: black !important;" >CANCEL</button>
            <button type="submit" class="btn btn-light " data-dismiss="modal" >SAVE</button>
          </div>
          <div class="modal-body mx-3">
            <form>
              <span class="d-none" id="TodoId"> </span>
              <label class="m-0" data-error="wrong" data-success="right" for="titleTodoModal">Title</label>
              <input type="text" class="form-control mb-2" id="titleTodoModal" required>
              <label class="m-0" data-error="wrong" data-success="right" for="dateTodo">Due Date</label>
              <input type="date" class="form-control mb-2" id="dateTodo" required>

              <label class="m-0"  data-error="wrong" data-success="right" for="dificultyTodo">Difficulty</label>
              <select class="form-control mb-2" id="dificultyTodo">
                    <option value="trivial">Trivial</option>
                    <option value="easy">Easy</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="hard">Hard</option>
              </select>
              <label class="m-0 " data-error="wrong" data-success="right" for="TagTodo" >Tag</label>
              <div class="mb-2 d-flex justify-content-between align-items-center px-4" id="TagTodo">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="studyTodoCheckboxModal" value="option1" onclick="onlyOne(this.id,'Todo')">
                  <label class="form-check-label" for="studyTodoCheckboxModal">Study</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="workTodoCheckboxModal" value="option2" checked onclick="onlyOne(this.id,'Todo')">
                  <label class="form-check-label" for="workTodoCheckboxModal">Work</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="healthTodoCheckboxModal" value="option3"  onclick="onlyOne(this.id,'Todo')">
                  <label class="form-check-label" for="healthTodoCheckboxModal" >Health</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="personalTodoCheckboxModal" value="option4" onclick="onlyOne(this.id,'Todo')" >
                  <label class="form-check-label" for="personalTodoCheckboxModal">Personal</label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-center .justify-content-end">
            <a href="#" data-dismiss="modal" data-toggle="modal" id="eliminateTodo" style="color:red !important;">
              <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Eliminate Todo</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal DAILIES -->
    <div class="modal fade" id="daily_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #ffbe5d">
            <h4 class="modal-title text-left w-100 font-weight-bold" style="color: #794b00;">Edit Daily</h4>
            <button type="button" class="btn btn-link" data-dismiss="modal" style="color: black !important;" >CANCEL</button>
            <button type="submit" class="btn btn-light " data-dismiss="modal" onclick="editDaily()">SAVE</button>
          </div>
          <div class="modal-body mx-3">
            <form>
              <span class="d-none" id="DailyId"> </span>
              <label class="m-0" data-error="wrong" data-success="right" for="titleDailyModal">Title</label>
              <input type="text" class="form-control mb-2" id="titleDailyModal" required>
              <label class="m-0"  data-error="wrong" data-success="right" for="dificultyDailyModal">Difficulty</label>
              <select class="form-control mb-2" id="dificultyDailyModal">
                    <option value="trivial">Trivial</option>
                    <option value="easy">Easy</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="hard">Hard</option>
              </select>
              <label class="m-0 " data-error="wrong" data-success="right" for="TagDailyModal" >Tag</label>
              <div class="mb-2 d-flex justify-content-between align-items-center px-4" id="TagDailyModal">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="studyDailyCheckboxModal" value="option1" onclick="onlyOne(this.id,'Daily')">
                  <label class="form-check-label" for="studyDailyCheckboxModal">Study</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="workDailyCheckboxModal" value="option2" checked onclick="onlyOne(this.id,'Daily')">
                  <label class="form-check-label" for="workDailyCheckboxModal">Work</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="healthDailyCheckboxModal" value="option3"  onclick="onlyOne(this.id,'Daily')">
                  <label class="form-check-label" for="healthDailyCheckboxModal" >Health</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="personalDailyCheckboxModal" value="option4"  onclick="onlyOne(this.id,'Daily')">
                  <label class="form-check-label" for="personalDailyCheckboxModal">Personal</label>
                </div>
              </div>
              <label class="m-0"  data-error="wrong" data-success="right" for="resetCounterDaily">Valid on </label>
              <div class="btn-group mr-2 d-flex justify-content-between align-items-center" role="group" aria-label="First group">
                <button type="button" class="btn btn-light btn-sm " onclick="addDay(this.id)" id="monDaily">Mon</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="tueDaily">Tue</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="wedDaily">Wed</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="thuDaily">Thu</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="friDaily">Fri</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="satDaily">Sat</button>
                <button type="button" class="btn btn-light btn-sm ModHabitBtn_list" onclick="addDay(this.id)" id="sunDaily">Sun</button>
              </div>
            </form>
          </div>
          <div class="modal-footer d-flex justify-content-center .justify-content-end">
            <a href="#" data-dismiss="modal" data-toggle="modal" id="eliminateDaily" onclick="dailyDelete()" style="color:red !important;">
              <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Eliminate Daily</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal USER -->
    <div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #ffbe5d">
            <h4 class="modal-title text-left w-100 font-weight-bold" style="color: #794b00;">Edit Avatar</h4>
            <button type="button" class="btn btn-link" data-dismiss="modal" style="color: black !important;" >CANCEL</button>
            <button type="submit" class="btn btn-light " data-dismiss="modal" onclick="saveModal()">SAVE</button>
          </div>
          <div class="modal-body mx-3">
            <h5 class="card-title pb-0" id="avatarName">Avatar Name</h5>
            <input type="text" class="form-control mb-2" id="avatarNameModal" required>

            <li style="list-style-type:none;" class=" mb-1" >
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0 check_list d-flex justify-content-between align-items-center p-2 modBtn_list">
                  <a class="btn modBnt btn-lg" role="button" onclick="prevAvatar()"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                </li>
                <li class="list-group-item border-0 text_list d-flex justify-content-between align-items-center" style="background-color: #edecee;">
                  <ul class="list-group" style="background-color: #edecee;">
                    <img id="avatarImgModal" src="avatar/1.png" class="card-img" alt="...">
                    <span class="badge badge-dark badge-pill" id="avatarLevelModal">
                      Level 14</span>
                  </ul>
                </li>  
                <li class="list-group-item border-0 check_list d-flex justify-content-between align-items-center p-2 modBtn_list" >
                  <a class="btn modBnt btn-lg" role="button" onclick="nextAvatar()"><i class="fa fa-angle-right" aria-hidden="true"></i></i></a>
                </li>
              </ul>
            </li>
          </div>
          <div class="modal-footer d-flex justify-content-center .justify-content-end">
            <a href="#" data-dismiss="modal" data-toggle="modal" id="eliminateHabit" onclick="logout()" style="color:red !important;">
              <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log Out</a>
          </div>
        </div>
      </div>
    </div>


    <!-- JavaScript -->
    <script type="text/javascript" src="static/ajax_handler.js"></script>
    <script type="text/javascript" src="static/utils.js"></script>
  <!--
    <script type="text/javascript" src="static/todo.js"></script>
  -->
    <script type="text/javascript" src="static/user.js"></script>
    <script type="text/javascript" src="static/reward.js"></script>
    <script type="text/javascript" src="static/habit.js"></script>
    <script type="text/javascript" src="static/daily.js"></script>

    <script type="text/javascript" src="static/general_utils.js"></script>
    <script type="text/javascript" src="static/reward_utils.js"></script>
    <script type="text/javascript" src="static/user_utils.js"></script>
    <script type="text/javascript" src="static/habit_utils.js"></script>
    <script type="text/javascript" src="static/daily_utils.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>


  </body>
</html>