
/*Horizontal list customization*/
.check_list { 
    margin: 0; 
    min-width: 60px;
    width: 20%;
 }
.text_list {
    margin: 0; 
    width: 80%;
}
.tab_filter{
    color: black !important;
}
.tag_search{
    max-width: 500px;
}

/*Button customization for dailies*/
.dayBnt{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  max-width:100%;
  background-color: #a8daf4;
}
.dayBnt.good{
  background-color: #a8daf4;
}
.dayBnt.bad{
  background-color: #ef9f9f;
}
.dayBnt.done{
  background-color: #c3c0c8;
}
.dayBtn_list{
    background-color: #50b5e9;
}
.dayBtn_list.good{
    background-color: #50b5e9;
}
.dayBtn_list.bad{
    background-color: #de3f3f;
}
.dayBtn_list.done{
    background-color: #878190;
}
.dayBtn_list.done i{
  visibility: visible;
}
.dayBnt:hover  i, 
.dayBnt i:hover { 
  visibility: visible;
}
.dayBnt i {
  visibility: hidden;
}

/*Customization for modal*/
.modBnt{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  max-width:100%;
  border-radius: 50%;
  background-color: #878190;
}
.modBtn_list{
    background-color: #edecee;
}
label{
    font-weight:bold;
}
form-check-label{
    font-weight:nomal;
}

/*Customization for habits*/
.habBnt{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  max-width:100%;
  border-radius: 50%;
  background-color: #dda146;
}
.habBnt.strong{
  background-color: #229f72;
}
.habBtn_list{
    background-color: #ffbe5d;
}
.habBtn_list.strong{
    background-color: #24cc8f;
}
.habBtn_list.disabled{
    background-color: #e1dfe2;
}
/*Modal customization for habits */
.ModBabBtn_list{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  border-radius: 50%;
  background-color: #edecee;
}
.ModBabBtn_list.selected{
    background-color: #dda146;
}

/*Reward customization */
.reward{
    margin: 0; 
    min-width: 75px;
    max-width: 150px;
}
.reward_img{
    background-color: #9398bf;
}
.reward_body{
    background-color: white !important;
}

/*Avatar customization */
.avatar{
    display:block;
    margin:auto; 
    height: 100%;
    max-width: 300px;
}
.avatar_icon { 
    margin: 0; 
    width: 10%;
    background-color: #9398bf;
    min-width: 30px;
 }
.avatar_progress {
    margin: 0; 
    width: 90%;
}
.avatar_stat_icon {
    color: #36205d;
}
.progress-bar {
    background-color: #9398bf !important;
}

/*General customization */
body{
    background-color: #f9f9f9;    
}

.top_body{
    background-color: #36205d;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.cards_body{
    background-color: #f9f9f9;
}

.card-body{
    background-color: #edecee;
}